@import 'variables.scss';
////////////////
////////////////
//WRITE STYLES//
////////////////
////////////////

//general styles
body {font-family: $mainfont;size:$base-font-size;}
h1, h2, h3, h4 {font-family: $headerfont;text-transform: $header-text-transform;}
h1 {color: $h1-color;font-weight: $h1-font-weight;}
h2 {color: $h2-color;font-weight: $h2-font-weight;}
h3 {color: $h3-color;font-weight: $h3-font-weight;}
h4 {color: $h4-color;font-weight: $h4-font-weight;}
p, a, li {color: $main-text-color;font-family: $main-text-font;}
ol li:before {color: $ol-number-color;}
blockquote {border-color:$blockquote-border-color;color: $blockquote-text-color;}
input, button, select, textarea {border:$form-border;}
a.button,
input[type="submit"]{
	font: {
		family: $bt-font;
		weight: $bt-font-weight;
	}
	color: $bt-text-color;
	text: {
		transform: $bt-text-transform;
		decoration: none;
	}
	background-color: $bt-background-color;
	padding: $bt-padding;
	border: {
		width: $bt-border-width;
		color: $bt-border-color;
		radius: $bt-border-radius;
	}
	box-shadow: $bt-box-shadow;
	&:hover {
		color: $bt-text-color-hover;
		background-color: $bt-background-color-hover;
		border-color: $bt-border-color-hover;
	}

}
.entry-content {
	a:not(.button) {
		color: $link-color;
		text-decoration: $link-decoration;
		&:hover {
			color: $link-color-hover;
			text-decoration: $link-decoration-hover;
		}
	}
	ul li:before {
		color: $ul-bullet-color;
	}
}

//header
#header {
	background-color: $header-background;
	border-top: $header-border-top;
	border-bottom: $header-border-bottom;

	.navbar-toggle .icon-bar {
		background-color: $mobile-hamburger-color;
	}

	.nav>li>a:not(.button) {
		font: {
			family: $mn-font;
			size: $mn-font-size;
		}
		text-transform: $mn-text-transform;
		color: $mn-text-color;
		border: {
			top: $mn-border-top;
			bottom: $mn-border-bottom;
			left: none;
			right: none;
		}
		&:hover,
		&:active,
		&:focus {
			text-decoration: $mn-decoration-hover;
			color: $mn-text-color-hover;
			background-color: $mn-background-color-hover;
			border: {
				top: $mn-border-top-hover;
				bottom: $mn-border-bottom-hover;
				left: none;
				right: none;
			}
		}
	}

	.nav>li.active>a,
	.nav>li.active>a:hover,
	.nav>li.active>a:focus,
	.nav>li.current-menu-parent>a:active,
	.nav>li.current-menu-parent>a,
	.nav>li.current-menu-parent>a:hover,
	.nav>li.current-menu-parent>a:focus,
	.nav>li.current-menu-parent>a:active {
		text-decoration: $mn-active-decoration;
		color: $mn-active-text-color;
		background-color: $mn-active-background-color;
		border: {
			top: $mn-active-border-top;
			bottom: $mn-active-border-bottom;
			left: none;
			right: none;
		}
	}

	.nav>li.social-link>a,
	.nav>li.social-link>a:hover,
	.nav>li.social-link>a:focus,
	.nav>li.social-link>a:active {
		border: none;
	}

	.dropdown-menu {
		background-color: $dd-background;
		font-size: $dd-font-size;
		li>a {
			color: $dd-link-color;
			&:hover {
				color: $dd-hover-color;
				background-color: $dd-hover-background-color;
				text-decoration: $dd-hover-decoration;
			}
		}
		li.active>a,
		li.active>a:hover,
		li.active>a:focus,
		li.active>a:active {
			color: $dd-active-color;
			background-color: $dd-active-background-color;
			text-decoration: $dd-active-decoration;
		}
	}

	.header-cta-button a.button {
		color: $hb-text-color;
		background-color: $hb-background-color;
		border-color: $hb-border-color;
		box-shadow: $hb-box-shadow;
		font: {
			family: $hb-font;
			size: $hb-font-size;
		}
		&:hover {
			background-color: $hb-background-color-hover;
			color: $hb-text-color-hover;
			border-color: $hb-border-color-hover;		
		}
	}

}

//home page
.home {
	#home-slideshow-overlay {
		background-color: $ht-background-mobile;
		font-size: $ht-font-size;
		p, h1, h2, h3, h4, li {
			color: $ht-text-color;
		}
	}
	#home-feature {
		background-color: $hfc-background-color;
	}
	#home-columns {
		.home-column {
			background: $hc-background-color;
			border: $hc-border;
			h3 {
				color: $hc-header-color;
				background: $hc-header-background;
			}
		}
	}
	#splash-section-2 {
		font-size: $hpx-font-size;
		p, h1, h2, h3, h4, li {
			color: $hpx-text-color;
		}
	}
}

//sidebar
#sidebar {
	h3 {
		color: $s-header-color;
	}
	a {
		color: $s-link-color;
		&:hover {
			color: $s-link-color-hover;
			text-decoration: $s-link-decoration-hover;
		}
	}
}

//footer
footer {
	background-color: $ft-background-color;
	border-top: $ft-border-top;
	h4 {
		color: $ft-h4-color;
		border-bottom: $ft-h4-border-bottom;
	}
	p, a, span, li, div {
		color: $ft-text-color;
	}
	a:hover {
		color: $ft-text-color-hover;
		text-decoration: $ft-text-decoration-hover;
	}

}


//contact
#contact-page-template {
	iframe {
		border: $google-maps-border!important;
	}
}

//media queries
@media (min-width: 769px) {
	.home {
		#home-slideshow-overlay {
			background-color: $ht-background;
		}
	}
}